main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;

}

.div1 {
    display: flex;
    gap: 5%;
}

.conteudo p {
    position: relative;
    margin-top: 2%;
    border-radius: 10px;
    padding: 10px;
    color: rgb(31, 35, 37);
    overflow: hidden;
    z-index: 0;
}